#banner{
  font-family: Guardian Sans;
  color: white;
  text-align: center;
  background-image: url("https://cdn.glitch.global/3639a420-e10b-41da-8f23-1f310ac565dc/grid1.jpg?v=1641969625268");  
  margin: 0px;
}
.all {
  font-family: Arial;
  text-align: left; 
  display: none;
  margin: 0px;
}
.show {
  display: block;
}
#myBtnContainer{
  margin: 0px;
  text-align: center;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
#container{
  font-family: Arial;
  margin: 0px;
  background-color: RGB(0,51,102);
  text-align: left; 
  line-height: 1.6;
  color: white;
}
h2{
  font-family: Guardian Sans;
  color: RGB(0,204,255);
  text-align: center;
}
p{
  padding-left: 80px; 
}